<p id="notice"><%= notice %></p>

<h1><%= @company_name %></h1>
<h5><%= link_to 'Users', users_path %></h5>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Work order</th>
      <th>Account name</th>
      <th>Equipment type</th>
      <th>Make</th>
      <th>Model</th>
      <th>Serial</th>
      <th>Estimated Ship date</th>
      <th>Purchase order</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.work_order %></td>
        <td><%= order.account_name %></td>
        <td><%= order.equipment_type %></td>
        <td><%= order.make %></td>
        <td><%= order.model %></td>
        <td><%= order.serial %></td>
        <td><%= order.ship_date %></td>
        <td><%= order.purchase_order %></td>
      </tr>
    <% end %>
  </tbody>
</table>
