<%= content_for(:user_name, @current_user.full_name) %>
<% if notice %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="container">
  <h1 class="company-name"><%= @company_name %></h1>

  <table class="table table-striped">
    <thead class="thead-brand">
      <tr>
        <th>Work order</th>
        <th>Account name</th>
        <th>Equipment type</th>
        <th>Make / Model / Serial</th>
        <th>Current Status</th>
        <th>Estimated Ship date</th>
        <th>Purchase order</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.work_order %></td>
        <td><%= order.account_name %></td>
        <td><%= order.equipment_type %></td>
        <td><%= order.make %> / <%= order.model %> / <%= order.serial %></td>
        <td><%= order.status.humanize %></td>
        <td><%= order.ship_date %></td>
        <td><%= order.purchase_order %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
