<div class="form-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, class: "custom-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control custom-input" %>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "custom-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control custom-input" %>
    </div>
    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>
    <div class="actions">
      <%= f.submit "LOG IN", class: "submit-button" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
